<app-header></app-header>

<body>
    <div class="container">
        <div class="upper-profile">
        </div>
    
        <div class="main-profile">
        </div> 
        
    
        <div class="bio">
            <img src="../../assets/avatar.jpeg" alt="profile-image">    
            <h1 class="name">Haile</h1>
            <p class="username">@bahilue</p>
            <p>Not every thing goes our way</p>
            <p>Phone Number:1234567890</p>
            <p>Email: hordofa@gmaial.com</p>            
        </div>  

        <div class="icon2" (click) = 'showModal()'><mat-icon>edit</mat-icon></div>
    
    </div>
</body>


<app-footer></app-footer>
