
<body>
    
    <div class="aboutus">
        <h1>About Us</h1>
        <p>
            Welcome to AgroAI, your one-stop destination for revolutionizing sustainable agriculture through the integration of fish farming, urban agriculture, and 
            advanced AI technologies. We are a dedicated team of passionate individuals from Addis Ababa University (AAU) and Arba Minch University(AMU) in Ethiopia. 
            Together, we've come together for the African Generative AI Hackathon hosted by A2SV, with a shared mission to transform the way food is produced and nourish 
            communities while embracing cutting-edge solutions.
        </p>
    </div>

    <div class="ourvision">
        <h1>Our Vision</h1>
        <p>
            At AgroAI, we believe in a greener tomorrow where agriculture thrives in harmony with nature and technology. 
            Our vision is to empower individuals, urban communities, and aspiring farmers to unlock the full potential of 
            integrated fish farming and urban agriculture. By leveraging AI-driven insights, sustainable practices, and 
            community engagement, we aim to foster a self-sufficient and eco-conscious approach to food production.
        </p>

    </div>

    <div class="whyus">
        <h1>Why Us?</h1>
        <p>
            Our team's diverse expertise and backgrounds provide a unique advantage in addressing the challenges of sustainable 
            food production. Our members from AAU and AMU bring a blend of innovation, scientific knowledge, and community-driven insights t
            o the table. With a shared commitment to leveraging AI for positive change, we're poised to drive tangible impact at the intersection of
             agriculture and 
        </p>
    </div>

    <div class="hackathon">
        <h1>Hackathon Journey</h1>
        <p>
            We are thrilled to be part of the African Generative AI Hackathon hosted by A2SV. This journey has provided us with an incredible platform to 
            collaborate, ideate, and bring our vision to life. Guided by the principles of innovation, teamwork, and sustainable development, we are dedicated to 
            crafting a digital space that empowers individuals and communities to make informed decisions, cultivate urban green spaces, and ensure food security 
            for generations to come.
        </p>
    </div>

    <div class="joinourmovement">
        <h1>Join Our Movement</h1>
        <p>
            As we embark on this exciting journey, we invite you to explore our website, engage in discussions, and discover the limitless possibilities of integrated 
            fish farming, urban agriculture, and AI integration. Together, we can make a meaningful impact on food systems, promote environmental consciousness, and 
            create a more resilient and nourished world.

        </p>

        <p class="thank">
            Thank you for joining us on this transformative mission!
        </p>
    </div>

</body>
<app-footer></app-footer>