<app-header></app-header>
<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
      <h1>Unlocking Sustainable Agriculture</h1>
      <p>Integrating Fish Farming and Urban Agriculture for a Greener Tomorrow</p>
      <!-- <a class="cta-button" href="#features">Explore More</a> -->
    </div>
  </section>
  
  <!-- Key Features Section -->
  <section id="features" class="key-features">
    <h2>Key Features</h2>
    <div class="key-features-items" *ngFor="let file of files">
        <div class="feature">
            <img src='${{file.img}}' alt="Resource Icon">
            <h3>{{file.head}}</h3>
            <p>{{file.text}}</p>
          </div>
    </div>
  </section>
  
  <!-- Solutions and Services Section -->
  <section class="solutions">
    <h2>Solutions and Services</h2>
    <div class="solution-items" *ngFor="let sol of solution">
        <div class="solution">
            <img src={{sol.img}} alt="AI Icon">
            <h3>{{sol.tittle}}</h3>
            <p>{{sol.text}}</p>
          </div>
    </div>
  </section>
  
  <!-- How It Works Section -->
  
  <section class="how-it-works">
    <h2>How It Works</h2>
    <div class="how-it-works-items" *ngFor="let step of steps">
        <div class="step">
            <img src={{step.img}} alt="Step 1 Icon">
            <p>{{step.text}}</p>
          </div>
    </div>
  </section>

  
  <!-- Success Stories Section -->
  <section class="success-stories">
    <h2>Success Stories</h2>
    <div *ngFor="let story of stories">
      <div class="story">
        <p>{{story.text}}</p>
        <p class="author">{{story.author}}</p>
      </div>
    </div>
      
  </section>
  

<app-footer></app-footer>