<section class="landing">
    <!-- Hero section with a catchy headline and image -->
    <div class="hero">
      <h1>Growing Food Smarter: Uniting Fish, Farms, and AI for a Sustainable Tomorrow.</h1>
      <!-- <img src="https://img.freepik.com/free-photo/agriculture-iot-with-rice-field-background_53876-124635.jpg?w=2000" alt="landing page image"> -->
    </div>

    
    <!-- CTA section with a sign-up form -->
    <div class="cta">
        <button (click)="redirectToLoginPage()">Login</button>
      <button (click)="redirectToSignUpPage()">Sign Up</button>
    </div>
    <div class="about">
        <button (click)="redirectToAboutUsPage()">About us</button>

      </div>
    
  </section>
  