<app-header></app-header>

<body>
    
    <div class="aboutus">
        <h1>About Us</h1>
        <p>
            {{aboutus}}
        </p>
    </div>

    <div class="ourvision">
        <h1>Our Vision</h1>
        <p>
            {{vision}}
        </p>

    </div>

    <div class="whyus">
        <h1>Why Us?</h1>
        <p>
            {{whyus}}
        </p>
    </div>

    <div class="joinourmovement">
        <h1>Join Our Movement</h1>
        <p>
            {{joinus}}
        </p>

        <p class="thank">
            {{thank}}
        </p>
    </div>

</body>
<app-footer></app-footer>